# 공통
node_modules/
dist/
build/
.DS_Store
Thumbs.db

# Expo / React Native (mobile)
mobile/node_modules/
mobile/android/
mobile/ios/
mobile/.expo/
mobile/.expo-shared/

# Vite React (web)
web/node_modules/
web/dist/
